@font-face {
  font-family: 'HYS';
  src: url('../font/HYShangWeiShouShuW.ttf');
}
section {
  width: 100%;
  height: auto;
}
section .banner {
  width: 100%;
  height: 6.5rem;
  background-image: url('../img/index/banner.png');
  background-size: 100% auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}
section .banner h1 {
  font-family: 'HYS';
  color: white;
  text-align: center;
  font-size: 0.8rem;
  position: relative;
  top: -0.1rem;
}
section .banner p {
  color: white;
  font-size: 0.2rem;
  text-align: center;
  position: relative;
  top: -0.1rem;
}
section .banner a {
  font-size: 0.2rem;
  color: white;
  text-decoration: none;
  padding: 0.1rem 0.2rem;
  background: #1A9FFD;
  width: 1.5rem;
  text-align: center;
  border: 1px solid white;
  margin: 0 auto;
  margin-top: 1rem;
}
section .servive {
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid #E7E6E6;
}
section .servive .s-title {
  text-align: center;
  font-size: 0.28rem;
}
section .servive .s-english {
  font-size: 0.2rem;
  text-align: center;
  color: #aaa9a9;
  margin-bottom: 0.2rem;
}
section .servive .s-pardon {
  width: 95%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-top: 0.5rem;
}
section .servive .s-pardon .sp-item {
  width: 1.4rem;
  height: auto;
  text-align: center;
}
section .servive .s-pardon .sp-item img {
  width: 90%;
  height: auto;
  margin: 0 auto;
}
section .servive .s-pardon .sp-item .spi-title {
  font-size: 0.2rem;
  text-align: center;
}
section .servive .s-pardon .sp-item .spi-text {
  font-size: 0.1rem;
  text-align: center;
}
section .sc-item {
  width: 100%;
  height: auto;
  padding: 0.5rem 0 0.5rem 0;
}
section .sc-item .sci-title {
  margin: 0 auto;
  width: 2rem;
  height: 0.6rem;
  background: black;
  font-size: 0;
  padding-left: 0rem;
  text-align: center;
}
section .sc-item .sci-title img {
  width: 0.5rem;
  height: auto;
  position: relative;
  top: 0.08rem;
}
section .sc-item .sci-title span {
  color: white;
  font-size: 0.28rem;
  position: relative;
  top: -0.05rem;
  margin-left: 0.1rem;
}
section .sc-item .sci-title2 {
  text-align: center;
  color: #B5B6B6;
  font-size: 0.2rem;
  margin: 0.1rem 0;
}
section .sc-item .sci-img {
  width: 80%;
  height: auto;
  margin: 0.3rem auto;
  display: block;
}
section .sc-item .sci-pardon {
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-flow: row;
  border: 1px solid #C4C4C4;
}
section .sc-item .sci-pardon .scip-item {
  flex: 1;
  padding: 0.2rem 0;
  text-align: center;
  font-size: 0;
  border-right: 1px solid #C4C4C4;
}
section .sc-item .sci-pardon .scip-item:last-child {
  border-right: none;
}
section .sc-item .sci-pardon .scip-item img {
  width: auto;
  height: 0.6rem;
}
section .sc-item .sci-pardon .scip-item p {
  font-size: 0.2rem;
  margin-top: 0.1rem;
}
section .sc-item .sci-more {
  font-size: 0;
  text-align: right;
  margin-top: 0.2rem;
}
section .sc-item .sci-more a {
  display: inline-block;
  font-size: 0.1rem;
  text-decoration: none;
  text-align: center;
  width: 0.8rem;
  height: 0.2rem;
  border: 1px solid #C4C4C4;
  line-height: 0.2rem;
  margin-right: 0.5rem;
  border-radius: 1rem;
  color: #9e9e9e;
}
section .sc-item .sci-more a span {
  position: relative;
  top: 0.015rem;
}
section .mobile .sci-title {
  background: #d44045;
}
section .mobile .sci-title img {
  position: relative;
  top: 0.05rem;
}
section .mobile .sci-title span {
  position: relative;
  top: -0.08rem;
}
section .software .sci-title {
  background: #f77804;
}
section .software .sci-title img {
  position: relative;
  top: 0.12rem;
}
section .software .sci-title span {
  position: relative;
  top: 0.01rem;
}
section .marketing .sci-title {
  width: 2.2rem;
  background: #f6a414;
}
section .marketing .sci-title img {
  position: relative;
  top: 0.05rem;
}
section .marketing .sci-title span {
  position: relative;
  top: -0.05rem;
}
section .visual .sci-title {
  width: 2.2rem;
  background: #264ade;
}
section .visual .sci-title img {
  position: relative;
  top: 0.05rem;
}
section .visual .sci-title span {
  position: relative;
  top: -0.05rem;
}
section .custom {
  width: 100%;
  height: auto;
  padding: 0.3rem 0;
}
section .custom .c-title {
  font-size: 0.28rem;
  text-align: center;
  font-weight: bold;
}
section .custom .c-english {
  font-size: 0.2rem;
  text-align: center;
  color: #aaa9a9;
  margin-bottom: 0.2rem;
}
section .custom .process-img {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-top: 0.2rem;
}
section .custom .process-img .pi-top {
  width: 5.7rem;
  height: auto;
  margin: 0 auto;
}
section .custom .process-img .pi-top ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .custom .process-img .pi-top ul li {
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  background: white;
  list-style: none;
  border-radius: 50%;
  border: 1px dashed #3a3a3f;
}
section .custom .process-img .pi-top ul li p {
  font-size: 0.15rem;
}
section .custom .process-img .pi-top ul li p:first-child {
  margin-top: 0.18rem;
}
section .custom .process-img .pi-center {
  width: 5.5rem;
  height: auto;
  position: relative;
  margin: 0.2rem auto;
}
section .custom .process-img .pi-center .pic-round {
  position: relative;
  z-index: 2;
  width: 5rem;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin: 0 auto;
}
section .custom .process-img .pi-center .pic-round li {
  width: 0.05rem;
  height: 0.05rem;
  background: #3a3a3f;
  border: 1px dashed #3a3a3f;
  list-style: none;
  border-radius: 50%;
}
section .custom .process-img .pi-center .pic-text {
  width: 5.4rem;
  height: auto;
  position: absolute;
  top: -0.15rem;
  left: 0;
  text-align: left;
  font-size: 0;
}
section .custom .process-img .pi-center .pic-text span {
  display: inline-block;
  width: 1rem;
  height: auto;
  margin-left: 0.22rem;
  text-align: center;
  font-size: 0.1rem;
  opacity: 0.5;
}
section .custom .process-img .pi-center .pic-text span:last-child {
  margin-left: 0.2rem;
}
section .custom .process-img .pi-center .pic-text span:first-child {
  margin-left: 0.1rem;
}
section .custom .process-img .pi-center .pic-line {
  position: absolute;
  top: 0.03rem;
  left: 50%;
  z-index: 1;
  width: 5rem;
  margin-left: -2.5rem;
  height: 1px;
  background: #28292e;
}
section .custom .process-img .pi-buttom {
  width: 4.6rem;
  height: auto;
  margin: 0 auto;
}
section .custom .process-img .pi-buttom ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
section .custom .process-img .pi-buttom ul li {
  width: 0.8rem;
  height: 0.8rem;
  text-align: center;
  background: white;
  list-style: none;
  border-radius: 50%;
  border: 1px dashed #28292e;
}
section .custom .process-img .pi-buttom ul li p {
  font-size: 0.15rem;
  color: black;
}
section .custom .process-img .pi-buttom ul li p:first-child {
  margin-top: 0.15rem;
}
