section {
    width: 100%;
    height: auto;
    //  banner
    .banner {
        width: 100%;
        height: 4rem;
        background: linear-gradient(#0591f3, #7ec9fd);
        display: flex;
        flex-flow: row;
        justify-content: center;
        .b-pardon {
            width: 95%;
            height: auto;
            display: flex;
            flex-flow: row;
            justify-content: center;
            margin: 0 auto;
            .b-text {
                width: 40%;
                height: auto;
                line-height: 0.28rem;
                display: flex;
                flex-flow: column;
                justify-content: center;
                i {
                    display: block;
                    flex: 1;
                }
                p {
                    font-size: 0.15rem;
                    color: white;
                    text-indent: 0.2rem;
                }
                .bt-title {
                    font-weight: bold;
                    font-size: 0.28rem;
                }
                span {
                    font-size: 0.28rem;
                    color: #34a9fa;
                    width: 1.8rem;
                    text-align: center;
                    padding: 0.1rem 0;
                    border-radius: 1rem;
                    background: white;
                    margin-left: 0.15rem;
                    margin-top: 0.05rem;
                }
            }
            .b-img {
                flex: 1;
                height: auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }
    //  服务项目
    .service {
        width: 100%;
        height: auto;
        padding: 0.3rem 0;
        .s-title {
            font-size: 0.28rem;
            text-align: center;
            font-weight: bold;
        }
        .s-segmentation {
            width: 2rem;
            height: 0.1rem;
            margin: 0.05rem auto;
            display: flex;
            flex-flow: row;
            justify-content: center;
            .ss-big {
                flex: 1;
                height: 0.02rem;
                background: #5a5a5f;
                position: relative;
                top: 0.01rem;
            }
            .ss-smalll {
                display: inline-block;
                width: 0.4rem;
                height: 0.06rem;
                background: #5a5a5f;
                margin: 0 0.05rem;
            }
        }
        .s-english {
            font-size: 0.2rem;
            text-align: center;
            color: #aaa9a9;
        }
        .s-item {
            width: 100%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            div {
                font-size: 0;
                margin-top: 0.3rem;
                text-align: center;
                img {
                    width: 0.7rem;
                    height: 0.55rem;
                    margin: 0 auto;
                    margin-bottom: 0.1rem;
                }
                .si-title {
                    font-size: 0.12rem;
                    text-align: center;
                }
                .si-instructions {
                    font-size: 0.08rem;
                    text-align: center;
                    color: #8f8f8f;
                }
            }
            .si-side {
                flex: 1;
            }
            .si-center {
                width: 2。5rem;
            }
        }
    }
    //  企业官网
    .enterprise {
        width: 100%;
        height: auto;
        background: #f2f1f1;
        padding: 0.2rem 0 0.2rem 0;
        font-size: 0;
        text-align: center;
        .e-title {
            font-size: 0.28rem;
            text-align: center;
            font-weight: bold;
        }
        .e-instructions {
            font-size: 0.2rem;
            text-align: center;
            color: #aaa9a9;
            margin: 0.1rem 0;
        }
        img {
            width: 80%;
            height: auto;
            margin: 0 auto;
            position: relative;
        }
        .e-more {
            font-size: 0.2rem;
            color: #2aa8ea;
            width: 95%;
            margin: 0 auto;
            text-align: right;
            a {
                display: block;
                width: 100%;
                text-align: right;
                color: #2aa8ea;
                text-decoration: none;
            }
        }
    }
    //  移动商城
    .mall {
        width: 100%;
        height: auto;
        padding: 0.4rem 0 0.3rem 0;
        background: #fef6f6;
        .m-pardon {
            width: 95%;
            height: auto;
            margin: 0 auto;
            display: flex;
            flex-flow: row;
            justify-content: space-between;
            .mp-text {
                width: 50%;
                height: auto;
                display: flex;
                flex-flow: column;
                justify-content: center;
                .mpt-title {
                    font-size: 0.28rem;
                    color: black;
                    text-align: center;
                    span {
                        color: #f54940;
                    }
                }
                .mp-instructions {
                    font-size: 0.2rem;
                    color: #aaa9a9;
                    text-align: center;
                    margin-top: 0.1rem;
                }
            }
            .mp-img {
                flex: 1;
                height: auto;
                text-align: center;
                img {
                    width: 70%;
                    height: auto;
                }
            }
        }
        .mp-more {
            font-size: 0.2rem;
            color: #FD6059;
            width: 95%;
            margin: 0 auto;
            text-align: right;
            a {
                display: block;
                width: 100%;
                text-align: right;
                color: #2aa8ea;
                text-decoration: none;
            }
        }
    }
    //  分销系统
    .system {
        width: 100%;
        height: auto;
        background: #fef6eb;
        display: flex;
        flex-flow: column;
        padding: 0.3rem 0;
        .s-title {
            font-size: 0.28rem;
            color: black;
            text-align: center;
            span {
                color: #fcc693;
            }
        }
        .s-instructions {
            font-size: 0.2rem;
            color: #aaa9a9;
            text-align: center;
            margin: 0.2rem;
        }
        .s-img {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0.1rem 0;
            img {
                width: 70%;
                height: auto;
            }
        }
        .s-more {
            font-size: 0.2rem;
            color: #fad5b2;
            width: 95%;
            margin: 0 auto;
            text-align: right;
            a {
                display: block;
                width: 100%;
                text-align: right;
                color: #2aa8ea;
                text-decoration: none;
            }
        }
    }
    //  支付系统
    .pay {
        width: 100%;
        height: auto;
        background: #eff3fe;
        display: flex;
        flex-flow: column;
        padding: 0.3rem 0;
        .p-title {
            font-size: 0.28rem;
            color: black;
            text-align: center;
            span {
                color: #32a0fe;
            }
        }
        .p-instructions {
            font-size: 0.2rem;
            color: #aaa9a9;
            text-align: center;
            margin: 0.2rem 0;
        }
        .p-img {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0.1rem 0;
            img {
                width: 70%;
                height: auto;
            }
        }
        .p-more {
            font-size: 0.2rem;
            color: #6fb2fd;
            width: 95%;
            margin: 0 auto;
            text-align: right;
            a {
                display: block;
                width: 100%;
                text-align: right;
                color: #2aa8ea;
                text-decoration: none;
            }
        }
    }
    //  软件开发
    .software {
        width: 100%;
        height: auto;
        background: white;
        display: flex;
        flex-flow: column;
        padding: 0.3rem 0;
        .so-title {
            font-size: 0.28rem;
            color: black;
            text-align: center;
            span {
                color: #1dd786;
            }
        }
        .so-instructions {
            font-size: 0.2rem;
            color: #aaa9a9;
            text-align: center;
            margin: 0.2rem 0;
        }
        .so-img {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0.1rem 0;
            img {
                width: 70%;
                height: auto;
            }
        }
        .so-more {
            font-size: 0.2rem;
            color: #44b19c;
            width: 95%;
            margin: 0 auto;
            text-align: right;
            a {
                display: block;
                width: 100%;
                text-align: right;
                color: #2aa8ea;
                text-decoration: none;
            }
        }
    }
    //新媒体营销
    .marketing {
        width: 100%;
        height: auto;
        background: #fcf6ed;
        display: flex;
        flex-flow: column;
        padding: 0.3rem 0;
        .m-title {
            font-size: 0.28rem;
            color: black;
            text-align: left;
            text-indent: 18%;
            span {
                color: #fb9e2c;
            }
        }
        .m-instructions {
            font-size: 0.23rem;
            color: #aaa9a9;
            text-align: center;
            margin: 0.2rem 0;
        }
        .m-img {
            width: 100%;
            height: auto;
            text-align: center;
            margin: 0.1rem 0;
            img {
                width: 40%;
                height: auto;
            }
        }
        .m-more {
            font-size: 0.2rem;
            color: #fb9a20;
            width: 95%;
            margin: 0 auto;
            text-align: right;
            a {
                display: block;
                width: 100%;
                text-align: right;
                color: #2aa8ea;
                text-decoration: none;
            }
        }
    }
    //定制开发流程
    .custom {
        width: 100%;
        height: auto;
        padding: 0.3rem 0;
        .c-title {
            font-size: 0.28rem;
            text-align: center;
            font-weight: bold;
        }
        .c-segmentation {
            width: 2rem;
            height: 0.1rem;
            margin: 0.05rem auto;
            display: flex;
            flex-flow: row;
            justify-content: center;
            .cs-big {
                flex: 1;
                height: 0.02rem;
                background: #5a5a5f;
                position: relative;
                top: 0.01rem;
            }
            .cs-smalll {
                display: inline-block;
                width: 0.4rem;
                height: 0.06rem;
                background: #5a5a5f;
                margin: 0 0.05rem;
            }
        }
        .c-english {
            font-size: 0.2rem;
            text-align: center;
            color: #aaa9a9;
            margin-bottom: 0.2rem;
        }
        .process-img {
            width: 100%;
            height: auto;
            display: flex;
            flex-flow: column;
            justify-content: center;
            margin-top: 0.2rem;
            .pi-top {
                width: 5.7rem;
                height: auto;
                margin: 0 auto;
                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    li {
                        width: 0.8rem;
                        height: 0.8rem;
                        text-align: center;
                        background: #fc8a03;
                        list-style: none;
                        border-radius: 50%;
                        p {
                            font-size: 0.15rem;
                        }
                        p:first-child {
                            margin-top: 0.15rem;
                        }
                    }
                }
            }
            .pi-center {
                width: 5.5rem;
                height: auto;
                position: relative;
                margin: 0.2rem auto;
                .pic-round {
                    position: relative;
                    z-index: 2;
                    width: 5rem;
                    height: auto;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    margin: 0 auto;
                    li {
                        width: 0.05rem;
                        height: 0.05rem;
                        background: #4e4d4b;
                        border: 1px solid #fb8b03;
                        list-style: none;
                        border-radius: 50%;
                    }
                }
                .pic-text {
                    width: 5.4rem;
                    height: auto;
                    position: absolute;
                    top: -0.15rem;
                    left: 0;
                    text-align: left;
                    font-size: 0;
                    span {
                        display: inline-block;
                        width: 1rem;
                        height: auto;
                        margin-left: 0.22rem;
                        text-align: center;
                        font-size: 0.1rem;
                        opacity: 0.5;
                        &:last-child {
                            margin-left: 0.23rem;
                        }
                        &:first-child {
                            margin-left: 0.1rem;
                        }
                    }
                }
                .pic-line {
                    position: absolute;
                    top: 0.03rem;
                    left: 0;
                    z-index: 1;
                    width: 100%;
                    height: 1px;
                    background: #fb8b03;
                }
            }
            .pi-buttom {
                width: 4.6rem;
                height: auto;
                margin: 0 auto;
                ul {
                    width: 100%;
                    height: auto;
                    display: flex;
                    flex-flow: row;
                    justify-content: space-between;
                    li {
                        width: 0.8rem;
                        height: 0.8rem;
                        text-align: center;
                        background: #434343;
                        list-style: none;
                        border-radius: 50%;
                        p {
                            font-size: 0.15rem;
                            color: white;
                        }
                        p:first-child {
                            margin-top: 0.15rem;
                        }
                    }
                }
            }
        }
    }
}