*{
	padding: 0;
	margin: 0;
}
body{
	margin: 0 auto;
}
.all{
	width: 100%;
	height: auto;
	margin-top: 0px;
	margin-left: 0px;
}

.mean{
	width: 1200px;
	height: auto;
	display: flex;
	flex-flow: row;
	justify-content: center;
	margin: 0 auto;
}
.mean-fixed{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	background: white;
}
.mean a{
	text-decoration: none;
	color: black;
}
.mean-left{
	width: 279px;
	height: 100px;
	font-family: "微软雅黑";
	font-size: 40px;
	color: white;
	display: inline;
	line-height: 120px;
}
.mean-mid{
	width: 120px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: white;
	margin-left: 140px;
	line-height: 100px;
	text-align: center;
}
.mean1{
	width: 55px;
	height: 100px;
}
.mean2{
	width: 180px;
	height: 100px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: white;
	line-height: 100px;
	text-align: center;
}
.nav-active{
	text-align: center;
	background-color: #016ab5;
	color: white;
}
.nav-active a{
	color: white;
}



.down1{
	width: 100%;
	height: 430px;
	background-color: #201f1f;
	display: flex;
	flex-flow:row ;
	justify-content: center;
}

.down-left{
	width: 600px;
	height: auto;
	text-align: right;
	display: flex;
	flex-flow: column;
}

.down1-1{
	width: 100%;
	flex: 1;
}
.down1-1 img{
	margin: 0 10px;
}
.down1-3{
	width: 100%;
	height: 50px;
	font-family: "微软雅黑";
	font-size: 32px;
	color: white;
	padding-top: 50px;
	display: flex;
	flex-flow: row;

}
.down1-3 span{
	flex: 1;
	text-align: right;
}
.down1-3 i{
	width: 10px;
}

.down1-2{
	width: 600px;
	height: auto;
	margin-top: 20px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: white;
	padding-top: 40px;
	margin-left: 40px;
}
.down1-2 div{
	margin: 20px 0;
}
.down1-2-1{
	height: auto;
	width: 100%;
}
.down1-2-2{
	text-align: left;
	width:300px;
	height: auto;
	text-indent: 3px;
}
.down1-2-2 img{
	position: relative;
	left: -2px;
	top: 3px;
}
.down1-2-3{
	height: auto;
	width: 300px;
	text-align: left;
	text-indent: 14px;
}
.down1-2-3 img{
	position: relative;
	left: -7px;
	top: 3px;
}
.down1-2-4{
	height: auto;
	width: 300px;
	text-align: left;
	text-indent: 4px;
}
.down1-2-4 img{
	position: relative;
	left: -2px;
	top: 3px;
}
.down1-2-5{
	height: auto;
	width: 300px;
	text-align: left;
}
.down1-2-6{
	height: auto;
	width: 100%;
	text-align: left;
	text-indent: 7px;
}

.down1-2-6 img{
	position: relative;
	left: -3px;
	top: 3px;
}
.down2{
	width: 100%;
	font-family: "微软雅黑";
	font-size: 18px;
	color: black;
	text-align: center;
	padding: 30px 0;
}
