
.top{
	width: 100%;
	height: 478px;
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#9ce4fb), to(#4bb0f7));
	display: flex;
	flex-flow: row;
	justify-content: center;
}
.top_1{
	width: 530px;
	height: 478px;
}
.top_2{ 
	width: 484px;
	height: 478px;
}
.top_2 img{
	width: 100%;
	height: auto;
}
.top_wz{
	width: 100%;
	height: 70px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: white;
	margin-top: 128px;
	line-height: 35px;
}
.top_wz1{
	width: 100%;
	height: 100px;
	font-family: "微软雅黑";
	font-size: 20px;
	color: white;
	line-height: 35px;
}
.tp{
	width: 100%;
	height: 700px;
}

.tp_lr{
	width: 1200px;
	height: 620px;
	margin: 0 auto;
}
.tp_lr-top{
	width: 1200px;
	height: 76px;
	font-family: "微软雅黑";
	font-size: 32px;
	color: #838282;
	line-height: 76px;
	border-bottom: dashed 1px #838282;
}
.tp_lr-top-wz{
	height: 60px;
	width: 1200px;
	font-family: "微软雅黑";
	font-size: 18px;
	color: black;
	text-align: center;
}
.tp_top-kb{
	height: 45px;
	width: 1200px;
	
}
.lr{
	height: 620px;
	height: 1900px;
	background-color: red;
}
.wz{
	width: 1200px;
	height: 430px;
	line-height: 40px;
	font-size: 15px;
	text-indent: 2em;
}

